<div class="ng-cloak" ng-view>
</div>
<div class="footer" ng-controller="FootersController" ng-show="showMobile">
  <ul>
    <li><a href="#/search"><i class="icon-search"></i><p class="icon-label">Search</p></a></li><li><a href="#/playlist"><i class="icon-list"></i><p class="icon-label">Playlist</p></a></li><li><i class="icon-star"></i><p class="icon-label">Favorites</p></li>
</div>