<div class="ng-cloak" ng-view>
</div>
<div class="footer" ng-controller="FootersController" ng-show="showFooter()">
  <ul>
    <li><a ng-click="navigate('/searches')"><i class="icon-search"></i><p class="icon-label">Search</p></a></li><li><a ng-click="navigate('/playlists')"><i class="icon-list"></i><p class="icon-label">Playlist</p></a></li><li><i class="icon-star"></i><p class="icon-label">Favorites</p></li>
</div>