<div ng-include src="'partials/search.html'"></div>

<div class="footer">
  <ul>
    <li>Search</li>
    <li>Playlist</li>
  </ul>
</div>

<style>
  .footer {
    position: fixed;
    bottom: 0;
    background-color: #111;
    width: 100%;
  }

  .footer ul li {
    color: white;
    display: inline-block;
  }
</style>

<script>
  $(document).ready(function(){
    /mobi/i.test(navigator.userAgent) && !pageYOffset && setTimeout(
      function(){ window.scrollTo(0,0) }, 1000
    )
  });
</script>