  <div class="container">
    <input type="text" ng-model="query" placeholder="Search (e.g, Eminem)" />
  </div>
  <div class="right-col">
    <div class="video-list flush">
      <ul>
        <li class="fade in" ng-repeat="result in results" ng-click="createTrack(result)" collapse-on-click>
          <div>
          <a class="swipe">
            <div>
              <div class="crop">
                <img ng-src="{{result.thumbnail_url}}">
              </div>
              <div class="duration">{{result.duration | time}}</div>
            </div>
            <h3>{{result.title | truncate}}</h3>
            <p class="title">{{result.author}}</p>
            <p class="title"><span class="rating">{{result.rating}}%</span> {{result.view_count}} views</p>
          </a>
        </li>
      </ul>
    </div>
  </div>