  <h1>View 1</h1>
  <div class="container">
    Query: <input type="text" ng-model="query" />
  </div>

  <ul>
    <li ng-repeat="result in results">{{result.title}}</li>
  </ul>

  <a href="#partial2">View 2</a>