  <h1>View 1</h1>
  <div class="container">
    Name: <input type="text" ng-model="name" />
  </div>

  <ul>
    <li ng-repeat="cust in customers | filter:name | orderBy:'city'">{{cust.name | uppercase}} - {{cust.city}}</li>
  </ul>

  <div>
    <input type="text" ng-model="newCustomer.name" />
    <input type="text" ng-model="newCustomer.city" />
    <button ng-click="addCustomer()">Add Customer!</button
  </div>

  <a href="#partial2">View 2</a>