<div class="player" player-key-bindings>
  <div class="player-wrapper">
    <div class="video-wrapper">
      <div id="ytplayer"></div>
    </div>
    <div class="right-col">
      <div>
        You are now listening to: 
      </div>
      <div class="video-command-bar">
        <ul>
          <li ng-class='{"active":shuffle}' ng-click="shuffle = !shuffle"><i class="icon-random"></i></li><li ng-class='{"active":sync}' ng-click="sync = !sync"><i class="icon-rocket"></i></li><li ng-class='{"active":repeat}' ng-click="repeat = !repeat"><i class="icon-refresh"></i></li><li ng-click="showPlaylist = !showPlaylist"><i ng-class='{"icon-list":!showPlaylist, "icon-search":showPlaylist}'></i></li>
        </ul>
      </div>
      <div ng-show="!showPlaylist" ng-include src="'partials/search.html'">
      </div>
      <div ng-show="showPlaylist" ng-include src="'partials/playlist.html'">
      </div>
    </div>
  </div>
</div>