<div class="video-list flush search-results" ng-controller="SearchesController">
  <div class="container">
    <input class="search-query" type="text" ng-model="query" placeholder="Search (e.g, Eminem)" autocorrect="off" autocapitalize="off"/>
  </div>
  <div>
    <ul>
      <li class="fade in" ng-repeat="track in tracks" ng-click="createTrack(track)" collapse-on-click>
        <span class="crop">
          <img ng-src="{{track.thumbnail_url}}">
          </p>
          <div class="duration">{{track.duration | time}}</div>
        </span>
        <div class="video-info">
          <h3>{{track.title | truncate}}</h3>
          <p class="title">{{track.author}}</p>
          <p class="title"><span class="rating">{{track.rating | number: 0}}%</span> {{track.view_count | commaDelimitedNumber}} views</p>
        </div>
      </li>
    </ul>
  </div>
</div>
