<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>

<div class="wrapper" ng-controller="SplashesController">
  <div class="icon"><i class="icon-rocket"></i></div>
  <div class="title">ster.io</div>
  <form class="form">
    <div class="input-prepend">
      <input type="text" ng-model="playlist_id" placeholder="launch code"/>
    </div>
    <input type="submit" ng-click="navigate('/playlists')" class="flat-btn" value="lift off">
  </form>
</div>

<style>
input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 90%;
  text-align:center;
  font-size: 20px;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 90%;
  text-align:center;
  font-size: 20px;
  margin-top: 10px;
}

.flat-btn {
  background-color: #342138;
  color: white;
  font-family: 'Raleway';
  border: 0px;
  padding: 10px;
}

.wrapper {
  font-family:'Raleway';
  text-align: center;
}

.title {
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 100;
  line-height: 70px;
  color: white;
}

.icon {
  padding-top: 30px;
}

.icon-rocket {
  line-height: 80px;
  font-size: 80px;
  color: #AD61B9;
}
</style>

<script type="text/javascript">
  $(window).resize(function(){
      $('.title').css('font-size',($(window).width()*0.20)+'px');
  });
</script>