<header class="site-header navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">ster.io</a>

    <div class="nav-collapse collapse">
      <ul class="nav pull-right">
        <li class="active"><a href="#search">Search</a></li>
        <li><a href="#playlist">Playlist</a></li>
        <li><a href="#player">Player</a></li>
      </ul>
    </div>
  </div>
</header>